.gridcontainer {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto 95vh;
}

.sideColumn {
    background-color: lightgray;
    padding-left: 5%;
    padding-top: 10px;
}

.mainColumn {
    padding-left: 5%;
    padding-top: 10px;
}

